* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf2ff;
  font-family: "Hanken Grotesk", sans-serif;
}

.mainbox {
  width: 736px;
  height: 512px;
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0 30px 60px rgba(61, 108, 236, 0.15);
  display: flex;
}

.bluebox {
  width: 368px;
  height: 512px;
  background: linear-gradient(to bottom, #6e4afd, #2f2ce9);
  border-radius: 16px;
  margin-right: 0%;
}
.whitebox {
  width: 368px;
  height: 512px;
  background-color: #ffffff;
  border-radius: 16px;
}

h1 {
  color: #cac9ff;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: bold;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-top: 38px;
}

.circle {
  display: block;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, #4d21c9, #2521c900);
  border-radius: 360px;
  margin-top: 35px;
  margin-left: 84px;
  margin-right: 84px;
  padding-top: 35px;
}
.innercircle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 100%;
  gasdap: 4px;
  margin-top: 0%;
}

h2 {
  color: #ffffff;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: bold;
  font-size: 72px;
  font-weight: 800;
  text-align: center;
}

.textsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 24px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 54px;
  gap: 14px;
}

h3 {
  color: #ffffff;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: bold;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.p1 {
  color: #cac9ff;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  opacity: 0.52;
}

.p2 {
  color: #cac9ff;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  paddiasdng-bottom: 46px;
}

.h4 {
  color: #303b59;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: bold;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-top: 38px;
  padding-left: 40px;
  padding-bottom: 24px;
}

.reaction {
  width: 288px;
  height: 56px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff6f6;
  padding: 16px;
  border-radius: 12px;
}

.p3 {
  color: #ff5555;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  paddiasdng-bottom: 46px;
}

.p4 {
  color: #303b59;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 18px;
  opacity: 50%;
}

p5 {
  color: #000000;
}

.scorebox {
  display: flex;
  flex-direction: ;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.p5 {
  color: #303b59;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.reactionimgandtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.memory {
  width: 288px;
  height: 56px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff8eb;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

.memoryimgandtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.p6 {
  color: #ffb21e;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.summarybox {
  display: block;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.verbal {
  width: 288px;
  height: 56px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9fef8;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

.verbalimgandtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.visual {
  width: 288px;
  height: 56px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2fcf9;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

.visualimgandtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.p7 {
  color: #00bb8f;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.p8 {
  color: #1125d6;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

button {
  width: 288px;
  height: 56px;
  background: #303b59;
  border-radius: 128px;
  color: #ffffff;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 46px;
  margin-top: 41px;
}
